@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

/* for h2 */
.main-content h2 {
  @apply text-2xl font-bold mt-7 mb-2;
}
/* for paragraph */
.main-content p {
  @apply my-3;
}
/* for list */
.main-content ul > li {
  @apply list-disc;
}
/* for anchor */
.main-content a {
  @apply text-yellow-500 hover:text-yellow-400;
}

:target {
  scroll-margin-top: 70px;
}
